
/* @import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif !important;
} */
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

@tailwind base;

.parallax {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.h-lg {
  height:350px;
}

.smallImgContainer {
    @apply flex px-4 overflow-hidden h-40 justify-center items-center text-center; 
}

.smallImg {
    @apply w-40;
}

.headerFont {
    font-family: 'DM Serif Display', serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* .bg-x-60 {
  background-size: '100% 100%' !important;
}

.headerImage {
  @apply bg-no-repeat bg-x-60 bg-top w-screen bg-black text-center;
} */

@tailwind components;
@tailwind utilities;

