
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

@tailwind base;


.min-height-600 {
  min-height:600px;
}

.max-height-520 {
  max-height:520px;
}

.min-height-210 {
  min-height:210px;
}

.h-custom {
  height:300px;
}

.squiggle {
    padding-bottom: 8px;
    background-image: url('../images/squiggle.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 40px;
}

.parallax {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.h-lg {
  height:350px;
}

.rotate180 {
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */
  /* IE8 and below */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

.smallImgContainer {
    @apply flex px-4 overflow-hidden justify-center items-center text-center; 
}


.smallImg {
    @apply w-40;
}

.headerFont {
    font-family: 'DM Serif Display', serif;
}

.paragraphFont {
  font-family: 'Nunito', sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


@tailwind components;
@tailwind utilities;

